/*
vars    
global
typography
nav
hero
case studies
skills
contact
study
media queries
*/

/*vars*/
:root {
  --dark-gray: #141313;
  --gray: #6c6c6c;
  --white: #fff;
  --green: #63F6C1;
}

/*global*/

html,
body {
  background: var(--dark-gray);
  color: var(--white);
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  font-size: 16px;
}

main {
  max-width: 738px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

img {
  width: 100%;
  height: auto;
}

.alt-bg {
  background-color: #4e4e4e;
  padding: 40px;
  border-radius: 10px;
  margin-top: 40px;
}

.alt-bg h2 {
  margin-top: 0;
}

/*typography*/

h1,
h2,
h3,
h4 {
  color: var(--white);
  text-transform: capitalize;
}

h1 {
  font-weight: 100;
  /*100px*/
  font-size: 6.25rem;
  margin-top: 120px;
  margin-bottom: 60px;
}

h2 {
  /*52*/
  font-size: 3.25rem;
  font-weight: 300;
  margin-top: 40px;
  margin-bottom: 20px;
}

h3,
label {
  /*28px*/
  font-size: 1.75rem;
  font-weight: 500;
  margin: 0;
}

p {
  /*22px*/
  line-height: 1.375rem;
}

a {
  color: var(--white);
  text-decoration-color: var(--green);
}

strong {
  font-weight: 600;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

ul li {
  margin: 10px 0;
}

/*nav*/

#logo {
  margin-top: 5px;
  font-size: 1.5em;
  color: var(--white);
  text-decoration: none;
  font-weight: 300;
}

nav {
  position: fixed;
  z-index: 2;
  top: 40px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: right;
  width: 320px;
}

#logo {
  float: left;
}

nav.nav-open {
  top: 136px;
}

#menu {
  display: none;
  width: 315px;
  float: right;
}

#menu-x {
  display: none;
}

#menu {
  width: 310px;
}

.link-section {
  margin-top: 20px;
}

.link-section a {
  display: block;
  /*28px*/
  font-size: 1.75rem;
  color: var(--white);
}

.link-group {
  line-height: 10px;
  margin-top: 10px;
}

.link-group a {
  display: inline;
  /*28px*/
  font-size: 1.15rem;
  line-height: 1.5rem;
  margin-left: 10px;
}

button,
.btn {
  display: inline-block;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: rgba(54, 54, 54, 0.9);
  color: var(--white);
  text-decoration: none;
}

.btn-active,
.btn:active,
.btn:hover,
.btn:focus,
button:active,
button:hover,
button:focus {
  cursor: pointer;
  background-color: var(--white) !important;
  color: var(--dark-gray) !important;
}

#overlay {
  background: var(--dark-gray);
  opacity: 0.85;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  display: none;
}

/*hero*/

#hero {
  display: flex;
  margin-top: 120px;
}

#hero img {
  width: 140px;
  height: auto;
}

#hero div:nth-child(2) {
  margin-top: 20px;
  margin-left: 40px;
}

#hero h3,
#hero h2 {
  margin: 0;
}

/*trusted by*/
#trusted {
  display: flex;
  flex-wrap: wrap;
  margin: 40px 0 60px 0;
}

#trusted h3 {
  flex-basis: 100%;
  margin-bottom: 20px;
}

#trusted img {
  width: auto;
  height: 75px;
  float: left;
  display: inline;
  margin-right: 20px;
}

/*case studiees*/

#cases {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.study-link {
  text-decoration: none;
  color: var(--white);
}

.study-link article {
  border-radius: 10px;
  width: 353px;
  height: 353px;
  position: relative;
  background-position: center;
  background-size: cover;
}

.study-link:nth-child(1) article {
  background-image: url('../images/showcase/wick.png');
}

.study-link:nth-child(2) article {
  background-image: url('../images/showcase/shq.png');
}

.study-link:nth-child(3) article {
  background-image: url('../images/showcase/nascar.png');
}

.study-link:nth-child(4) article {
  background-image: url('../images/showcase/amsi.png');
}

.study-link article section {
  position: absolute;
  bottom: 0px;
  border-radius: 10px;
  padding: 120px 20px 0 20px;
  /*full width minus side padding*/
  width: calc(100% - 20px * 2);
  background: rgb(34, 34, 34);
  background: linear-gradient(0deg, rgba(34, 34, 34, 1) 0%, rgba(34, 34, 34, 0) 100%);
}

.study-link article section h3 {
  margin: 0;
}

.study-link article section p {
  /*16px*/
  font-size: 1rem;
  /*24px*/
  line-height: 1.5rem;
  font-weight: 200;
  margin-top: 0;
}

/*internal pages*/
#study {
  padding-bottom:200px;
}

#study #hero {
  display: block;
}

#study #hero h2 {
  margin-top: 0;
}

#study h1 {
  margin-left: 20px;
}

#study article:first-of-type {
  margin: 120px 0;
}

#study article {
  padding: 0 20px;
  margin-top: 40px;
}

/*skills*/

#certs .btn {
  text-decoration: none;
  margin-top: 20px;
  margin-right: 10px;
}

/*contact*/

#form {
  margin-bottom: 400px;
  width: 100%;
  max-width: 500px;
}

#form input,
#form textarea {
  width: 100%;
  color: var(--white);
  background: none;
  border: 0;
  border-bottom: 1px solid var(--white);
  padding: 20px 0;
}

#form input {
  margin-bottom: 30px;
}

#form button {
  margin-top: 30px;
  float: right;
}

#contact-status {
  font-size: 1.5em;
  padding: 60px 0;
  clear: both;
}

/*Media Queries*/

/*tablets and above*/
@media only screen and (min-width: 700px) {
  nav {
    width: 700px;
  }
}

/*below tablet, above small phones*/
@media only screen and (max-width: 700px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2rem;
  }

  #hero div:nth-child(2) {
    margin-left: 20px;
  }
}

/*small phones (iPhone SE, android*/
@media only screen and (max-width: 321px) {
  nav {
    width: 280px;
  }

  #hero {
    margin-left: 0;
  }

  #cases {
    justify-content: center;
  }

  h1 {
    font-size: 3.5rem;
  }
  
  h2 {
    font-size: 1.8rem;
  }

  .study-link article {
    width: 300px;
    height: 300px;
  }
}