/*
vars    
global
typography
nav
home
hero
about
CTAs
case studies
process
references
kpi
why me
tiers
why ux
contact
contract
media queries
*/

/*vars*/
:root {
  --dark-gray: #141313;
  --gray-transp: rgba(54, 54, 54, 0.9);
  --gray: #222;
  --white: #fff;
  --green: #63F6C1;
  --blue: hsl(206, 54%, 31%);
}

/*global*/

html,
body {
  background: var(--dark-gray);
  color: var(--white);
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  font-size: 16px;
}

.container {
  max-width: 738px;
  margin-left: auto;
  margin-right: auto;
  padding: 80px 20px 20px 20px;
}

.content-contain {
  margin: auto 10px;
}

.content-contain img {
  margin-top: 10px;
}

img {
  width: 100%;
  height: auto;
}

img+span {
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 0.9rem;
  font-style: italic;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  padding: 20px;
  background-color: var(--gray);
  border-radius: 20px;
  max-width: 320px;
  width: 100%;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.text-center {
  text-align: center;
}

.hide {
  display: none !important;
}

.photography-bg {
  background-image: url('../images/me-photography.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
}

/*typography*/

h1,
h2,
h3 {
  color: var(--white);
}

h1 {
  font-weight: 100;
  font-size: 4rem;
  font-weight: 100;
  margin-bottom: 60px;
}

h2 {
  font-size: 3rem;
  font-weight: 200;
  margin-bottom: 10px;
}

h3 {
  /*28px*/
  font-size: 1.75rem;
  font-weight: 200;
  margin-bottom: 20px;
}

p {
  line-height: 1.7rem;
}

a {
  color: var(--white);
  text-decoration-color: var(--green);
  text-decoration: underline;
}

i {
  margin-right: 10px;
}

strong {
  font-weight: 600;
}

/*nav*/

nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  z-index: 4;
  width: 720px;
  top: 4.7vh;
  left: 50%;
  transform: translateX(-50%);
  transition: transform 0.3s ease-in-out;
}

nav section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#logo {
  float: left;
  padding-top: 6px;
  font-size: 1.4rem;
  text-shadow: var(--dark-gray) 2px 2px 2px;
}

#logo a {
  text-decoration: none;
}

#menu {
  display: none;
  text-align: right;
  margin-top: 30px;
}

#work-with {
  background-color: var(--blue);
  margin-right: 10px;
}

#menu a {
  margin-bottom: 30px;
  display: block;
  font-size: 1.4rem;
}

#menu-btn {
  padding: 12px 14px;
}

#menu-btn i {
  margin-right: 0;
}

#menu-btn .fa-xmark {
  display: none;
}

button,
.btn {
  display: inline-block;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: var(--gray-transp);
  color: var(--white);
  text-decoration: none;
}

.btn-active,
.btn:active,
.btn:hover,
.btn:focus,
button:active,
button:hover,
button:focus {
  cursor: pointer;
  background-color: var(--white) !important;
  color: var(--dark-gray) !important;
}

#overlay {
  background: var(--dark-gray);
  opacity: 0.85;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 3;
  top: 0;
  left: 0;
  display: none;
}

/*home*/
#home {
  background-image: url('../images/me-lightner.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
}

/*hero*/

#hero {
  margin-top: 120px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Center contents vertically if needed */
  font-size: 0;
  /* Prevent whitespace affecting vertical alignment */
}

#hero img {
  display: inline-block;
  vertical-align: middle;
}

#hero div:nth-child(2) {
  margin-left: 20px;
}

#hero img {
  width: 140px;
  height: auto;
}

#hero h3,
#hero h2 {
  margin: 0;
}

#hero h2 {
  /*52px*/
  font-size: 2.7rem;
}

/*about*/
#about {
  line-height: 1.5em;
  padding: 0 20px;
  text-align: center;
}

#about p {
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 0 10px;
}

#brands {
  padding: 60px 20%;
  gap: 60px;
  background-color: var(--gray);
}

#brands img {
  width: 80px;
  height: auto;
}

/*CTAS*/

#cta {
  max-width: 700px;
  gap: 30px;
  margin: 0 auto 60px auto;
  justify-content: center;
  padding-top: 20px;
}

/*case studies*/

#cases h1.container {
  padding-bottom: 0px;
}

#cases article:first-of-type {
  margin-top: 0;
}

article {
  margin-top: 60px;
  padding-bottom: 60px;
  background-position: center;
  background-size: cover;
}

article img {
  margin-top: 30px;
}

article .btn {
  margin-top: 20px;
  margin-right: 20px;
}

/*lists*/
ol {
  padding-left: 33px;
}

ol li {
  margin-bottom: 15px;
}

.accomplish {
  padding-left: 0;
}

ul {
  margin-top: 10px;
}

ul li {
  margin-bottom: 10px;
  margin-left: 20px;
  line-height: 1.4rem;
}

/*backgrounds*/
#amsi {
  background-image: url('../images/cases/amsi/bg.jpg');
}

#nascar {
  background-image: url('../images/cases/nascar/bg.jpg');
}

#spendhq {
  background-image: url('../images/cases/shq/bg.jpg');
}

#wick {
  background-image: url('../images/cases/wick/bg.jpg');
}

/*accordion*/

.collapse {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--white);
}

.accordion {
  transition: 0.4s;
}

.accordion.btn {
  margin-top: 20px;
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panel .btn {
  margin-top: 10px;
}

.accordion:after {
  font-family: FontAwesome;
  content: '\f078';
  float: right;
  margin-left: 10px;
}

.active:after {
  font-family: FontAwesome;
  content: '\f077';
}

/*process*/

#process {
  margin-bottom: 80px;
  padding-top: 60px;
}

#process h2 {
  width: 100%;
  margin-top: 0;
}

#process h2 span {
  float: right;
  font-size: 2rem;
  font-weight: bolder;
}

#process .skills {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

#process .skills span {
  padding: 10px 15px;
  background-color: var(--gray-transp);
  border-radius: 20px;
  display: inline-block;
}

#process .skills span.tool {
  background-color: var(--blue);
}

/*references*/

#references .card {
  position: relative;
  height: 321px;
  overflow: hidden;
  background-size: cover;
}

/*bg image overlay*/
#references .card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark-gray);
  z-index: 1;
  opacity: 0.8;
}

#references a {
  text-decoration: none;
}

#references .card h2 {
  font-size: 1.7rem;
  margin-top: 0;
  margin-bottom: 10px;
}

#references .card h3 {
  font-size: 1.4rem;
  margin-bottom: 0;
}

#references .card div,
i {
  z-index: 2;
}

#references div:nth-child(1) p {
  margin-top: 0;
}

#references .card div:nth-child(1) {
  position: absolute;
  top: 20px;
  left: 20px;
}

#references .card div:nth-child(2) {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

#references .card div:nth-child(2) p {
  margin: 0;
}

#references .card div:nth-child(2) p:nth-child(1) {
  font-weight: 100;
}

#references .card i {
  position: absolute;
  right: 20px;
  bottom: 26px;
  font-size: 1.5rem;
}

#narain {
  background-image: url('../images/references/narain.jpg');
}

#justyn {
  background-image: url('../images/references/justyn.jpg');
}

#diane {
  background-image: url('../images/references/diane.jpg');
}

#randi {
  background-image: url('../images/references/randi.jpg');
}

/*kpi*/

.kpi {
  padding: 80px 0;
}

.kpi .container {
  padding: 0 30px;
}

.kpi .container h2 {
  margin-top: 0;
  text-align: center;
}

.kpi .flex {
  text-align: center;
}

.kpi .flex div {
  width: 200px;
}

.kpi .flex h3 {
  font-size: 2.5rem;
  margin-bottom: 0;
}

.kpi .flex p {
  margin: 0;
}

.kpi .flex p:nth-of-type(1) {
  font-weight: 200;
}

.kpi .flex p:nth-of-type(2) {
  font-size: 0.8rem;
  line-height: 1.1rem;
}

/*why me*/
#why-me.kpi {
  padding-top: 40px
}

/*tiers*/
#tiers {
  margin-bottom: 80px;
  padding-top: 0;
}

#tiers h2 {
  margin: 0;
}

#tiers h3 {
  margin-top: 10px;
  margin-bottom: 0;
}

#tiers p {
  margin-top: 0;
  margin-bottom: 10px;
}

#tiers ul {
  padding-left: 0;
  margin-bottom: 25px;
}

#tiers ul li {
  margin-bottom: 2px;
}

#tiers a {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

/*why ux*/
#why-ux {
  background-color: var(--gray);
}

/*contact*/
#contact {
  margin-top: 20px;
  margin-bottom: 200px;
  text-align: center;
  max-width: 718px;
}

#contact .flex {
  gap: 30px;
  justify-content: center;
  margin-top: 30px;
}

#contact p {
  margin-top: 0;
}

/*contract*/
#contract-container {
  display: flex;
  flex-direction: column;
  /*not 100 to compensate for mobile safari not taking bottom address bar into account*/
  height: 94vh;
}

#contract-hero {
  margin-top: 120px;
  margin-bottom: 0;
  flex-shrink: 0;
}

#contract {
  overflow-y: scroll;
  border-radius: 5px;
  border: 3px solid var(--gray);
  flex-grow: 1;
}

#contract h4:first-of-type {
  margin-top: 0;
}

#contract ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

#contract ::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: var(--white);
}

#contract-btns {
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 60px;
  flex-shrink: 0;
}

#contract-btns a:nth-child(2) {
  background-color: var(--blue);
}

/*Media Queries*/

/*tablets and above*/
@media only screen and (min-width: 700px) {}

/*below tablet*/
@media only screen and (max-width: 700px) {
  nav {
    width: 90%;
  }

  #hero {
    flex-direction: column;
  }

  #hero div {
    text-align: center;
  }

  #hero h2 {
    font-size: 2.5rem;
    margin: 5px 0;
  }

  #hero h3 {
    font-size: 1.2rem;
  }

  #hero div:nth-child(2) {
    margin-top: 20px;
    margin-left: 0;
  }

  #cta,
  .card-container {
    justify-content: center;
  }

  .card-container .card {
    max-width: none !important;
    width: 100% !important;
  }

  #brands {
    padding: 60px 10%;
  }

  #references .card {
    background-position: center;
  }

}